.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2{
        font-size: 2.5rem;
    }
    p{
        align-items: center;
        font-size: 1.25rem;
    }
}
